.mainWrapper {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  margin-left: 105px;
}
.content {
  flex-grow: 1;
  width: 90vw;
}
.body{
  align-content: space-between;
  width: 100%;
}
.foot{
  padding: 2rem
}
